:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --aditional-text-color: #ffffff;
  --accent-color: #2196F3;
  --section-background-color: #F5F4FA;
}

body {
  font-family: Roboto;
  font-style: normal;
}

/* top line */

.header-top {
  background-color: #FFFFFF;
  position: absolute;
  width: 1600;
  height: 80;
}

.top-line-nav .link {
  color: var(--title-text-color);
}

.top-line-nav .link:hover,
.top-line-nav .link:focus {
  color: var(--accent-color);
}
.top-line-nav .link-current {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

